/*VARIABLES*/
$border-radius-shadow:38px 38px 38px 38px;
$box-shadow-1: 0px 0px 25px 2px rgba(0,0,0,0.1);   
$color-primario: rgb(95, 23, 161);


/*MIXIN*/
@mixin animacion-hover-1 {
    transform: scale(1.1);
    transition: 0.5s;
}

/*ALL*/
* {
    text-decoration: none;
}

h1{
    text-transform: uppercase;
}

h2{
    font-family: 'DM Serif Display', serif;
}

h3{
    color: rgb(179, 146, 39);
    font-family: 'DM Sans', sans-serif;
}

p{
    color: rgb(26, 55, 77);
    font-family: 'Lora', serif;
}

a:not(.tickcounter){
    color: black !important; 
    text-decoration: none !important;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: -2px -2px 29px -6px rgba(0,0,0,0.35);
    background-color: rgb(168, 208, 224); 
}

/*MAP*/
$espacios:(
    pad-b: 20px,
    gap: 8px
    ) 